* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.card {
  width: 600px;
  height: 420px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex-end;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  margin-left: 50px;
  margin-top: 50px;

  box-shadow: 8px 8px 11px 1px #4a9ccd;
}

.card:hover {
  transform: translateY(20px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  margin-top: 200px;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card.info h1 {
  margin: 0;
  padding: 20px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.anc {
  text-decoration: none;
  color: white;
  padding: 20px 20px;
}
@media screen and (max-width: 950px) {
  .card {
    width: 300px;
    height: 200px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex-end;
    align-items: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin-left: 30px;
    margin-top: 70px;
  }
  .card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    margin-top: 100px;
    transform: translateY(30px);
    transition: 0.5s all;
  }
}
